$tabs: tabs;

.DUI-#{$tabs}{
  .#{$tabs}-navList{
    height: 40px;
    box-sizing: border-box;
    border-bottom: 3px solid transparent;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    text-align: center;

    div.#{$tabs}-navUnit{
      flex-grow: 1;
      box-sizing: border-box;
      width: 0;
      color: #888;
      background: #f2f2f2;
      font-size: 14px;
      padding: 10px 0;

      &.isActive{
        color: #333;
        background: #fff;
        border-bottom: 3px solid #6495ED;
      }
    }
  }
  .#{$tabs}-panelList{
    padding: 15px;

    div.#{$tabs}-panelUnit{
      display: none;

      &.isActive{
        display: block;
      }
    }
  }
}

:export {
  classPrefix: $tabs
}